@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: white;
  box-shadow: -6px -5px 27px rgb(200, 200, 200);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 120px;
  margin-left: 1vw;
}
header nav#listanav2 ul {
  display: flex;
  list-style-type: none;
}
header nav#listanav2 a {
  text-decoration: none;
  color: rgb(73, 73, 73);
  font-weight: bolder;
}
header nav#listanav2 ul li {
  font-size: 12px;
  margin: 0 1vw 0 1vw;
}
header #listanav {
  display: none;
  position: absolute;
  top: 14vh;
  left: 24vw;
  width: 28vw;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
header #listanav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
header #listanav ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
header nav#listanav a {
  text-decoration: none;
  color: rgb(73, 73, 73);
}
header nav#listanav a:hover {
  text-decoration: none;
  color: #05AF30;
}
header div#busca {
  display: flex;
  width: 35vw;
  margin-right: 1vw;
}
header div#listabotao > button {
  width: 12vw;
}
@media (max-width: 824px) {
  header #listanav2 {
    display: none;
  }
  header div#busca {
    display: flex;
    width: 270px;
    margin-right: 1vw;
  }
}

main div#trabalhadores {
  background-image: url("../img/trabalhador_placa_solar.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
  width: 100%;
}
main div#inicial {
  background-color: #157347;
  height: 400px;
  width: 100%;
}
main div#inicial > h1 {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 72px;
}
main div#inicial > button {
  position: relative;
  left: 50%;
  top: 15%;
  width: 171px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #0b3a24;
  transform: translate(-50%, -50%);
}
main div#segundaparte {
  background-color: white;
  height: 400px;
  width: 100%;
}
main div#segundaparte > h1 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin-top: 60px;
  font-size: 40px;
}
main div#segundaparte li {
  list-style: none;
}
main .container {
  position: relative;
  padding: 25px;
  max-width: 640px;
  margin: 0 auto;
}
main .gallery-wrapper {
  overflow-x: auto;
}
main .gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}
main .arrow-left, main .arrow-right {
  position: absolute;
  top: 25px;
  font-size: 30px;
  line-height: 250px;
  width: 35px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  background: linear-gradient(to left, rgba(21, 115, 71, 0.4039215686), #157347);
  opacity: 0.5;
  transition: all 600ms ease-in-out;
}
main .arrow-right {
  left: auto;
  right: 25px;
  background: linear-gradient(to left, #157347, rgba(21, 115, 71, 0.4039215686));
}
main .arrow-left:hover,
main .arrow-right:hover {
  opacity: 1;
}
main .item {
  width: 550px;
  height: 250px;
  flex-shrink: 0;
  opacity: 0.6;
  transition: all 600ms ease-in-out;
}
main .current-item {
  opacity: 1;
}
main .gallery-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
main .descricao {
  margin: 5vw;
}
main .descricao, main h2, main p {
  font-family: "Oswald", sans-serif;
}
main .descricao > p {
  text-align: justify;
}
@media (min-width: 600px) {
  main div#primeiraparte {
    display: flex;
  }
  main div#trabalhadores {
    background-attachment: local;
  }
}
@media (min-width: 680px) {
  main .descricao {
    width: 592px;
    margin: auto;
  }
}
@media (min-width: 980px) {
  main div#segundaparte ul {
    display: flex;
  }
  main div#segundaparte img {
    height: 400px;
  }
  main .arrow-left, main .arrow-right {
    top: 110px;
  }
  main .arrow-right {
    right: -1px;
  }
  main .arrow-left {
    left: -1px;
  }
}

@media (min-width: 825px) {
  #listabotao {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
