@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}
main div#trabalhadores {
  background-image: url("../img/trabalhador_placa_solar.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
  width: 100%;
}
main div#inicial {
  background-color: #157347;
  height: 400px;
  width: 100%;
}
main .partes > h1,
main .partes > h2 {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 72px;
}
main div#inicial > button {
  position: relative;
  left: 50%;
  top: 15%;
  width: 171px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #0b3a24;
  transform: translate(-50%, -50%);
}
main div#segundaparte {
  background-color: white;
  min-height: 400px;
  width: 100%;
}
main div#segundaparte > h1 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin-top: 60px;
  font-size: 40px;
}
main div#segundaparte li {
  list-style: none;
}
main .container {
  position: relative;
  padding: 25px;
  max-width: 640px;
  margin: auto;
}
main .gallery-wrapper {
  overflow-x: auto;
}
main .gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}
main .arrow-left,
main .arrow-right {
  position: absolute;
  top: 25px;
  font-size: 30px;
  line-height: 250px;
  width: 35px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  background: linear-gradient(to left, rgba(21, 115, 71, 0.4039215686), #157347);
  opacity: 0.5;
  transition: all 600ms ease-in-out;
}
main .arrow-right {
  left: auto;
  right: 25px;
  background: linear-gradient(to left, #157347, rgba(21, 115, 71, 0.4039215686));
}
main .arrow-left:hover,
main .arrow-right:hover {
  opacity: 1;
}
main .item {
  width: 550px;
  height: 250px;
  flex-shrink: 0;
  opacity: 0.6;
  transition: all 600ms ease-in-out;
}
main .current-item {
  opacity: 1;
}
main .gallery-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
main .descricao {
  margin: 5vw;
}
main .descricao h2,
main .descricao p {
  font-family: "Oswald", sans-serif;
}
main .descricao > p {
  text-align: justify;
}
main div#sobre {
  background-color: #157347;
  min-height: 400px;
  width: 100%;
  padding: 20px;
}
main div#terceiraparte > .partes > p {
  color: white;
  text-align: justify;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  margin: 40px auto 40px auto;
}
main div#quartaparte > h1 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin-top: 60px;
  font-size: 40px;
}
main div#quartaparte > div#valores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main div#valores > div {
  display: inline-block;
  border-radius: 3%;
  min-width: 180px;
  min-height: 165px;
  box-shadow: -2px 5px 16px 0px rgba(0, 0, 0, 0.2);
}
main .valor {
  width: 223px;
  margin: 10px;
  padding: 2px;
}
main div#quartaparte > div#valores img {
  width: 220px;
  border-radius: 10px;
}
main div#quartaparte > div#valores h2 {
  margin-top: 10px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}
main div#quartaparte > div#valores p {
  text-align: justify;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
}
main div#quartaparte {
  margin-bottom: 100px;
}
@media (min-width: 600px) {
  main div#primeiraparte {
    display: flex;
  }
  main div#trabalhadores {
    background-attachment: local;
  }
}
@media (min-width: 680px) {
  main .descricao {
    width: 592px;
    margin: auto;
  }
}
@media (min-width: 900px) {
  main div#terceiraparte > .partes > p {
    width: 720px;
  }
}
@media (min-width: 980px) {
  main div#segundaparte ul {
    display: flex;
  }
  main div#segundaparte img {
    height: 400px;
  }
  main .arrow-left,
  main .arrow-right {
    top: 110px;
  }
  main .arrow-right {
    right: -1px;
  }
  main .arrow-left {
    left: -1px;
  }
}


/*# sourceMappingURL=styles.css.map */
